<button (click)="showUserForm = !showUserForm" class="btn btn-dark mb-3">Add user</button>
<div class="card card-body mb-3" *ngIf="showUserForm">
  <h2>Add user</h2>
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
    <div class="form-group">
      <label>First Name</label>
      <input
        [(ngModel)]="user.firstName"
        [ngClass]="{'is-invalid':userFirstName.errors && userFirstName.touched}"
        type="text"
        class="form-control"
        name="firstName"
        #userFirstName="ngModel"
        required
        minlength="2"
        
        >      
      <div class="invalid-feedback" [hidden]="!userFirstName.errors?.required">First name required</div>
      <div class="invalid-feedback" [hidden]="!userFirstName.errors?.minlength">Must be at leaset 2 characters</div>
    </div>


    <div class="form-group">
      <label>Last Name</label>
      <input [(ngModel)]="user.lastName" [ngClass]="{'is-invalid':userLastName.errors && userLastName.touched}" type="text"
        class="form-control" name="LastName" #userLastName="ngModel" required minlength="2">
      <div class="invalid-feedback" [hidden]="!userLastName.errors?.required">Last name required</div>
      <div class="invalid-feedback" [hidden]="!userLastName.errors?.minlength">Must be at leaset 2 characters</div>
    </div>


    <div class="form-group">
      <label>Email</label>
      <input [(ngModel)]="user.email" [ngClass]="{'is-invalid':userEmail.errors && userEmail.touched}" type="email" class="form-control"
        name="email" #userEmail="ngModel" required
        pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?">
      <div class="invalid-feedback" [hidden]="!userEmail.errors?.required">Email required</div>
      <div class="invalid-feedback" [hidden]="!userEmail.errors?.pattern">Email is not valid</div>
    </div>


    <button [disabled]="!userForm.form.valid" class="btn btn-block mb-3 mt-3">Add new user</button>
  </form>
</div>
<h2>Users</h2>
<ul class="list-unstyled" *ngIf=" loaded && users?.length > 0; else noUsers">
  <li class="card card-body mb-2" *ngFor="let user of users" [class.bg-light]="user.isActive">
    <h3>{{ user.firstName}} {{ user.lastName}}
      <small>
        <button class="btn btn-dark btn-sm" (click)="user.hide = !user.hide">
          <i [ngClass]="user.hide ? 'fa fa-plus' : 'fa fa-minus'"></i>
        </button>
      </small>
    </h3>
    <ul class="list-group" *ngIf="!user.hide">
      <li class="list-group-item">Email: {{ user.email }}</li>
      <li class="list-group-item">Joined: {{ user.registered | date:"dd/MM/yy"}}</li>
    </ul>
  </li>
</ul>
<h4 *ngIf="users?.length == 0"> There are no users</h4>
<h4 *ngIf="!loaded">Loading</h4>